<html>
	<head>
	<title>扬州光交门锁管理系统</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/> 
	<link href="./css/style.css" rel="stylesheet" type="text/css" />
    
	</head>
<body>
	<div class="top" id="top"><div class="logo">扬州光交门锁管理系统</div></div>
	<div class="mainarea" id="mainarea">
		<div class="loginarea">
			<div class="loginbox" id="loginbox">
			  <div class="logincon">
			   <form id="loginForm" method="post" action = "index.php">
					<div class="errtip" id="errMsg" style="display:none"></div>
					<label><input class="user" id="userId" name="userId" value="请输入用户名" /></label>
					<label><input class="pwd" id="pwd" name="pwd" value="请输入密码"  />
					<input class="pwd" type="password" id="passwordLine" name="password"  style="display:none" /></label>
					<label class="code"><input class="code" id="authCode" value="请输入验证码" /></label>
					<div class="codebox"><img id="authImg" src="./images/captcha.png" style="height:35px"  /></div><a href="#" onclick="changeImg()" class="freshico">刷新</a>
					<div class="loginbtnarea">
						<button class="loginbtn" type="submit" name = "login">登&nbsp;录</button>
						<button class="loginbtn" type="reset" >重&nbsp;置</button>
					</div>
			   </form>
			   </div>
			</div>
		</div>
	</div>
	<div class="copy">中国移动 版权所有</div>
	<script type="text/javascript" src="./js/ui/jquery-1.8.0.min.js"></script>
	<script type="text/javascript" src="./js/login.js"></script>
</body>
</html>