<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 5.01 Transitional//EN" "http://www.w3.org/TR/html5/loose.dtd">
<html>
<head>
<title>光交箱智能门锁监控管理系统</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="../css/style.css" rel="stylesheet" type="text/css" />
<link href="../css/planeui.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css"
	href="../js/jquery-easyui-1.3.6/themes/default/easyui.css" />
<link rel="stylesheet" type="text/css"
	href="../js/jquery-easyui-1.3.6/themes/icon.css" />

<script type="text/javascript"
	src="../js/jquery-easyui-1.3.6/jquery-1.8.0.min.js"></script>
<script type="text/javascript"
	src="../js/jquery-easyui-1.3.6/jquery.easyui.min.js"></script>
<script type="text/javascript" src="../js/planeui.js"></script>
<script type="text/javascript" src="../js/monitor.js"></script>

</head>
<body>
	<div class="pui-tab-container">
		<div class="pui-tab-box" style="display: block;">
			<table
				class="pui-table pui-table-bordered pui-table-text-center pui-table-thead-bg pui-table-interlaced-color pui-table-compact box-shadow-bottom pui-table-gradient"
				style="margin: 0">
				<thead>
					<tr class="info">
						<th colspan = "4">员工信息</th>
					</tr>
					<tr>
						<td><a href="../users.php?active=total">员工总数</td>
						<td id = "name"></td>
						<td>30天内登陆过的员工数</td>
						<td></td>
					</tr>
					<tr>
						<td><a href="../users.php?active=today">今日登陆的员工数</td>
						<td></td>
						<td>未登陆过的员工数</td>
						<td></td>
					</tr>
				</thead>
			</table>
		</div>
		<div class="pui-tab-box" style="display: block;">
			<table
				class="pui-table pui-table-bordered pui-table-text-center pui-table-thead-bg pui-table-interlaced-color pui-table-compact box-shadow-bottom pui-table-gradient"
				style="margin: 1">
				<thead>
					<tr class="info">
						<th colspan = "4">区域信息</th>
					</tr>
					<tr>
						<td><a href="../area.php?active=total">区域总数</td>
						<td></td>
						<td><a href="../area.php?active=ok">正常区域</td>
						<td></td>
					</tr>
					<tr>
						<td><a href="../area.php?active=expection">异常区域</td>
						<td></td>
						<td><a href="../area.php?active=waittingDeal">待处理区域</td>
						<td></td>
					</tr>
				</thead>
			</table>
		</div>
		<div class="pui-tab-box" style="display: block;">
			<table
				class="pui-table pui-table-bordered pui-table-text-center pui-table-thead-bg pui-table-interlaced-color pui-table-compact box-shadow-bottom pui-table-gradient"
				style="margin: 1">
				<thead>
					<tr class="info">
						<th colspan = "4">道路信息</th>
					</tr>
					<tr>
						<td><a href="../area.php?active=total">道路总数</td>
						<td></td>
						<td><a href="../area.php?active=ok">正常区域</td>
						<td></td>
					</tr>
					<tr>
						<td><a href="../area.php?active=expection">异常区域</td>
						<td></td>
						<td><a href="../area.php?active=waittingDeal">待处理区域</td>
						<td></td>
					</tr>
				</thead>
			</table>
		</div>
		<div class="pui-tab-box" style="display: block;">
			<table
				class="pui-table pui-table-bordered pui-table-text-center pui-table-thead-bg pui-table-interlaced-color pui-table-compact box-shadow-bottom pui-table-gradient"
				style="margin: 1">
				<thead>
					<tr class="info">
						<th colspan = "4">采集器信息</th>
					</tr>
					<tr>
						<td><a href="../collector.php?active=total">采集器总数</td>
						<td></td>
						<td><a href="../collector.php?active=open">打开光交箱数</td>
						<td></td>
					</tr>
					<tr>
						<td><a href="../collector.php?active=closed">关闭光交箱数</td>
						<td></td>
						<td><a href="../collector.php?active=exception">异常光交箱数</td>
						<td></td>
					</tr>
				</thead>
			</table>
		</div>
		<div class="pui-tab-box" style="display: block;">
			<table
				class="pui-table pui-table-bordered pui-table-text-center pui-table-thead-bg pui-table-interlaced-color pui-table-compact box-shadow-bottom pui-table-gradient"
				style="margin: 1">
				<thead>
					<tr class="info">
						<th colspan = "4">光交箱信息</th>
					</tr>
					<tr>
						<td><a href="box.php?active=total">光交箱总数</td>
						<td></td>
						<td><a href="box.php?active=open">打开光交箱数</td>
						<td></td>
					</tr>
					<tr>
						<td><a href="box.php?active=closed">关闭光交箱数</td>
						<td></td>
						<td><a href="box.php?active=exception">异常光交箱数</td>
						<td></td>
					</tr>
				</thead>
			</table>
		</div>
	</div>
</body>
</html>