<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 5.01 Transitional//EN" "http://www.w3.org/TR/html5/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>光交箱智能门锁监控管理系统</title>
<link href="./css/style.css" rel="stylesheet" type="text/css" />
<link href="./css/planeui.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css"
	href="./js/jquery-easyui-1.3.6/themes/default/easyui.css" />
<link rel="stylesheet" type="text/css"
	href="./js/jquery-easyui-1.3.6/themes/icon.css" />

<script type="text/javascript"
	src="./js/jquery-easyui-1.3.6/jquery-1.8.0.min.js"></script>
<script type="text/javascript"
	src="./js/jquery-easyui-1.3.6/jquery.easyui.min.js"></script>
<script type="text/javascript" src="./js/planeui.js"></script>
<script type="text/javascript" src="./js/monitor.js"></script>
</head>
<body>
	<div class="pui-tab-container">
		<div class="pui-tab-box" style="display: block;">
			<table
				class="pui-table pui-table-bordered pui-table-text-center pui-table-thead-bg pui-table-interlaced-color pui-table-compact box-shadow-bottom pui-table-gradient"
				style="margin: 0">
				<tr class="error">
					<th colspan="8">今日登陆员工信息汇总</th>
				</tr>
			</table>
			<table
				class="pui-table pui-table-bordered pui-table-text-center pui-table-thead-bg pui-table-interlaced-color pui-table-compact box-shadow-bottom pui-table-gradient"
				style="margin: 0">
				<thead>
					<tr class="info">
						<th width="70">账号</th>
						<th width="100">姓名</th>
						<th width="50">权限</th>
						<th width="120">电话</th>
						<th>登陆时间</th>
						<th>登陆IP</th>
						<th>更新时间</th>
						<th>操作</th>
					</tr>
				</thead>
			</table>
			<table
				class="pui-table pui-table-bordered pui-table-text-center pui-table-thead-bg pui-table-interlaced-color pui-table-compact box-shadow-bottom pui-table-gradient"
				style="margin: 0">
				<tbody>
					{foreach from=$todayBean item=rs}
					<tr>
						<td width="70">{$rs->getUserName()}</td>
						<td width="100">{$rs->getFullName()}</td>
						<td width="50">{$rs->getRank()}</td>
						<td width="120">{$rs->getPhone()}</td>
						<td>{$rs->getLastLogin()}</td>
						<td>{$rs->getLastIp()}</td>
						<td>{$rs->getLastTime()}</td>
						<td>
							<button type="button" class="pui-btn pui-btn-primary"
								onclick="Edit()">
								修改 <span class="arrow-down"></span>
							</button>
							<button type="button" class="pui-btn pui-btn-error"
								onclick="Delete()">
								删除 <span class="arrow-down"></span>
							</button>
							<button type="button" class="pui-btn pui-btn-primary"
								onclick="Delete()">
								权限设置 <span class="arrow-down"></span>
							</button>
						</td>
					</tr>
					{/foreach}
				</tbody>
			</table>
			<button type="button" class="pui-btn pui-btn-secondary pui-btn-block"
				style="width: 100%" onclick="Delete()">
				新增员工 <span class="arrow-down"></span>
			</button>
		</div>
	</div>
</body>
</html>